# Dependencies
node_modules/

# Next.js Build Output
.next/
out/
tsconfig.tsbuildinfo

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
